body{
    background-color: rgb(66, 66, 66);
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
}
#container{
    display: grid;
    grid-template-areas:'schermo schermo schermo schermo '
                        'sette     otto    nove   diviso '
                        'quattro   cinque   sei    per   '
                        ' uno        due     tre   meno  '
                        'cancella    zer   punto   piu  '
                        'uguale     uguale  uguale uguale';
    grid-template-rows: 6;   
    width: 80%;     
    margin: auto;    
    margin-top: 3em;        
}
#schermo{
    border: 1px solid black;
    border-radius: 10px;
    grid-area: schermo;
    color: rgb(0, 0, 0);
    background-color: #fff;
    height: 3em;
    text-align: center;
}
#zero{
    grid-area: zer;
}
#uno{
    grid-area:uno;
}
#due{
    grid-area:due ;
}
#tre{
    grid-area:tre ;
}
#quattro{
    grid-area:quattro ;
}
#cinque{
    grid-area:cinque ;
}
#sei{
    grid-area: sei;
}
#sette{
    grid-area: sette;
}
#otto{
    grid-area:otto ;
}
#nove{
    grid-area:nove ;
}
#piu{
    grid-area:piu ;
}
#meno{
    grid-area:meno;
}
#per{
    grid-area:per ;
}
#diviso{
    grid-area: diviso;
}
#uguale{
    grid-area:uguale ;
}
#cancella{
    grid-area: cancella;
}
#punto{
    grid-area: punto;
}



button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}